.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.clients-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid getColor('clients-icons-primary-color');
    border-radius: 4px;
    width: 170px;
    height: 92px;
    color: getColor('clients-icons-primary-color');
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border-color: getColor('accent-color');
        }
}

.clients-list__icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .clients-list__link:hover &,
    .clients-list__link:focus & {
        fill: getColor('accent-color');
        }
}



