
.features__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    
}
.features-cards {
    @media screen and (min-width: 320px) and (max-width: 767px) {
        &:not(:last-child) {
            padding-bottom: 30px;
        }
    }
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 2 * 15px) / 2);
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 6 * 15px) / 4);
    }
}


.features-cards__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: getColor('secondary-bg-color');
    border-radius: 4px;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
}
.features-cards__title {
    @include fontStyle(14px, 1.14, 0.03em);
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: 768px) {
    text-align: start;
    }
}
.features-cards__text {
    @include fontStyle(14px, 1.71, 0.03em);
    color: getColor('secondary-text-color');
    margin-bottom: 0;
}