.features__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
}
.features-cards {
    -ms-flex-preferred-size: 270px;
    flex-basis: 270px;
}


.features-cards__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: getColor('secondary-bg-color');
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}
.features-cards__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.features-cards__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: getColor('secondary-text-color');
    margin-bottom: 0;
}