.footer {
    padding: 60px 0;
    background-color: getColor('black-bg-color');
    .container {
        text-align: center;
        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: space-between;
            }
        }
    }
.communication {
    @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 165px;
}
    @media screen and (min-width: 1200px) {
    gap: 70px;
    text-align: start;
    }
}


@media screen and (min-width: 320px) and (max-width: 1199px) {
.footer-contacts__list {
margin-bottom: 60px;
}
}
.footer-contacts__address {
    font-style: normal;
    @include fontStyle(14px, 24px, 0.03em);
    color: getColor('white-text-color');
    margin-bottom: 9px;
}
.footer-contacts__item {
    margin-bottom: 9px;
    &:last-child {
            margin-bottom: 0;
        }
}
.footer-contacts__link {
    @include fontStyle(14px, 1.71, 0.03em);
    color: getColor('footer-links-color');
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: getColor('accent-color');
        }
}
.footer-social__title {
    
    margin-bottom: 20px;
    @include fontStyle(14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: getColor('white-text-color');
    @media screen and (min-width: 1200px) {
        padding-top: 12px;
        }
}

.footer-social__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    @media screen and (min-width: 320px) {
        margin-bottom: 60px;
    }
}

.footer-socials__link {
    display: flex;
    padding: 12px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: getColor('white-text-color');
    background: getColor('footer-social-links-color');
    &:hover,
    &:focus {
        background-color: getColor('accent-color');
        }
    .footer-socials__icon {
            fill: currentColor;
        }
}
.footer-subscription {

@media screen and (min-width: 1200px) {
    text-align: left;
}
    .footer-subscription__title {
            
            margin-bottom: 20px;
            @include fontStyle(14px, 1.14, 0.03em);
            text-transform: uppercase;
            color: getColor('white-text-color');
            @media screen and (min-width: 1200px) {
                    padding-top: 12px;
                }
        }
    .subscription-field {
        
        @media screen and (min-width: 1200px) {
            display: flex;
            gap: 12px;
        }
    }
    .subscription-field__input {
        width: 100%;
        @media screen and (min-width: 768px) {
            width: 450px;
        }
        @media screen and (min-width: 1200px) {
            width: 358px;
        }
        height: 50px;
        padding-left: 16px;
        margin-bottom: 20px;
        background: getColor('black-bg-color');
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: getColor('footer-links-color');
            font-weight: 400;
            line-height: 1.25;
            letter-spacing: 0.03em;
        }
        &::-webkit-input-placeholder {
        color: getColor('footer-links-color');
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.03em;
        
    }

        .subscription-field__button {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-column-gap: 10px;
            -moz-column-gap: 10px;
            column-gap: 10px;
            padding: 10px;
            @extend %btn;
            -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }      
}