.logo {
    @include fontStyle(24px,1.08,0.03em);
    font-family: getFontFam(Raleway);
    font-weight: 700;
    color: getColor('accent-color');
    @media screen and (min-width: 320px) and (max-width: 767px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    @media screen and (min-width: 768px) {
        @include fontStyle(26px, 1.19, 0.03em);
    }
}

.header-logo {
    .logo__design {
            color: getColor('header-logo-design');
        }
}
.footer-logo {
    display: block;
    margin-bottom: 20px;
    .logo__design {
            color: getColor('footer-logo-design');
        }
}